body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 0px 1px #ccc;
  padding: 5px
}

.nav-logo {
  height: 30px;
}

.bg {
  /* background-image: url("http://www.onlygfx.com/wp-content/uploads/2018/03/orange-polygonal-background-fade-3.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
}

/* .bg-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -8;
  background: rgba(255, 255, 255, 0.5);
} */

.AK-container {
  position: relative;
  width: 275px;
}
.container {
  /* max-width: 1200px;; */
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3em;
  color: #402a4e;
  position: absolute;
  top: 100px;
  left: 5px;
  letter-spacing: 1.1px;
}

.kyzer {
  color: #f2ad58;
}

.job-title {
  color: #8eb7ad;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  position: absolute;
  top: 150px;
  left: 60px;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  color: #f0e7cc;
  margin-bottom: 10px;
}

/* 
  ----------------------------------------------------
  ANIMATION TO PUP UP AND CREATE SHADOW FOR DOWN ARROW
  ----------------------------------------------------
*/
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 1s 3.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
	        animation: text-pop-up-top 1s 3.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 40px 20px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 40px 20px rgba(0, 0, 0, 0.3);
  }
}

/* 
  --------------------------------------
  ANIMATION TO EXPAND NAME AND JOB TITLE
  --------------------------------------
 */

 .tracking-in-expand-name {
	-webkit-animation: tracking-in-expand-name 1s 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-name 1s 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.tracking-in-expand-job-title {
	-webkit-animation: tracking-in-expand-job-title 1s 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-job-title 1s 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand-name {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand-name {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-expand-job-title {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand-job-title {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*
  ----------------------------------------------
  PROJECTS SECTION WITH IMAGES IN FEATURED ITEMS
  ----------------------------------------------
*/

.title {
  color: #96B6AD;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  background: transparent;

}

.other-projects { 
  margin-top: 0;
  margin-bottom: 0;
}

.featured-projects .card-text {
  font-size: 0.5em;
}
.card {
  border: 1px solid #402a4e;
  box-shadow: 0px 5px 5px #aaa;
  /* margin: 0 1em 2em 1em; */
  margin-bottom: 1em;
  padding: 0;
}

.card-title {
  color: #402a4e;
  text-align: center;
}

.card-text {
  text-align: center;
  color: #3D2B4C;
}

/*
  ------------------------
  ABOUT ME PROFILE SECTION
  ------------------------
*/

.profile {
  margin-top: 3em;
}

.about {
  height: 100%;
  /* margin-top: 120px; */
}

.about-col {
  /* height: 100%; */
  background-color: #dadada;

}

/* .profile-picture {
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  border: 3px solid black;
  max-width: 250px;
  height: 250px;
  position: absolute;
  position: absolute;
    top: -125px;
    right: 50px;
    z-index: 20;
} */

.me-title h3 {
  font-size: 1.3em;
  padding: 10px 5px;
  color: #dc6a62;
}

.me-me-me {
  padding: 5px;
}

.me-me-me p {
  line-height: 2em;
}

.logo-box {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.logo {
  background-color: gray;
  color: white;
  border-radius: 50%;
  font-size: 36px;
  height: 100px;
  width: 100px;
  display: flex;
    justify-content: center;
    align-items: center;
}

/*
  AK TRIAGLES CSS
*/

.triangle {
  height: 0;
  width: 0;
  position: absolute;
}
.red {
  border-bottom: 50px solid #402a4e;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: -75px;
  left: 50px;
}
.green {
  border-top: 50px solid #402a4e;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: 0px;
  left: 50px;
}
.yellow {
  border-bottom: 50px solid #8eb7ad;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: -25px;
  left: 25px;
}
.orange {
  border-bottom: 50px solid #8eb7ad;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top:25px;
  left: 0px;
}
.blue {
  border-top: 50px solid #8eb7ad;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: 50px;
  left: 25px;
}
.purple {
  border-bottom: 50px solid #f2ad58;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: -25px;
  left: 75px;
}
.teal {
  border-bottom: 50px solid #f2ad58;
  border-top: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: 25px;
  left: 100px;
}
.magenta {
  border-top: 50px solid #f2ad58;
  border-bottom: 25px solid transparent;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  top: 50px;
  left: 75px;
}
.white {
  border-bottom: 20px solid #fff;
  border-top: 13px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -2px;
  left: 65px;
}
.k-magenta {
  border-left: 50px solid #402a4e;
  border-bottom: 75px solid transparent;
  border-right: 25px solid transparent;
  border-top: 75px solid transparent;
  position: relative;
  top: -50px;
  left: 150px;
  /* z-index: -1; */
}
.k-coral {
  border-top: 25px solid #f2ad58;
  border-bottom: 25px solid transparent;
  border-right: 17px solid #f2ad58;
  border-left: 16px solid transparent;
  top: -50px;
  left: 165px;
}
.k-yellow {
  border-top: 28px solid #f2ad58;
  border-bottom: 26px solid transparent;
  border-right: 18px solid transparent;
  border-left: 19px solid transparent;
  top: -3px;
  left: 196px;
}
.k-blue {
  border-bottom: 49px solid #f2ad58;
  border-top: 19px solid transparent;
  border-right: 5px solid transparent;
  border-left: 31px solid transparent;
  top: -71px;
  left: 197px;
}
.k-black {
  border-top: 49px solid #f2ad58;
  border-bottom: 3px solid transparent;
  border-right: 34px solid transparent;
  border-left: 4px solid transparent;
  top: -50px;
  left: 228px;
}
.k-green {
  border-bottom: 25px solid #8eb7ad;
  border-top: 25px solid transparent;
  border-right: 17px solid #8eb7ad;
  border-left: 16px solid transparent;
  top: 50px;
  left: 165px;
  z-index: -200;
}
.k-gray {
  border-bottom: 28px solid #8eb7ad;
  border-top: 26px solid transparent;
  border-right: 19px solid transparent;
  border-left: 18px solid transparent;
  top: -2px;
  left: 196px;
}
.k-violet {
  border-top: 49px solid #8eb7ad;
  border-bottom: 19px solid transparent;
  border-right: 4px solid transparent;
  border-left: 31px solid transparent;
  top: 51px;
  left: 197px;
}
.k-black2 {
  border-bottom: 49px solid #8eb7ad;
  border-top: 3px solid transparent;
  border-right: 34px solid transparent;
  border-left: 4px solid transparent;
  top: 48px;
  left: 228px;
}

/*
  -----------------------------------------
  ANIMATION OF TRIANGLES MAKING AK INITIALS 
  FLOATING IN FROM OFF THE SCREEN.
  -----------------------------------------
*/

@keyframes triangle-float-in {
  0% {
    transform: scale(30);
    top: 1600px;
    left: 1600px;      
  }
  50% {
    top: 500px;
    left: -1000px;
  }
  100% {
    transform: scale(1);     
  }
}

/* The Letter A */
.red { animation: triangle-float-in .65s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.green { animation: triangle-float-in .6s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.yellow { animation: triangle-float-in .55s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.orange { animation: triangle-float-in .45s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.blue { animation: triangle-float-in .5s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.purple { animation: triangle-float-in .4s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.white { animation: triangle-float-in .7s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.teal { animation: triangle-float-in .3s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.magenta { animation: triangle-float-in .34s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }

/* The Letter K */
.k-coral { animation: triangle-float-in 1.1s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-magenta { animation: triangle-float-in 1.3s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-yellow { animation: triangle-float-in 1.05s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-blue { animation: triangle-float-in 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-black { animation: triangle-float-in .95s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-green { animation: triangle-float-in .9s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-gray { animation: triangle-float-in .85s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-violet { animation: triangle-float-in .8s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.k-black2 { animation: triangle-float-in .75s  cubic-bezier(0.175, 0.885, 0.32, 1.275); }






.card-img-overlay {
  background-color:rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
}

.card-img-overlay .card-text {
 color: rgba(240, 240, 240);
}
.card-img-overlay .card-title {
  font-weight: bold;
  color: #E8AF68;
}

.other-projects-row .card-title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  font-weight: bold;
}

.btn {
  display: inline;
  cursor: cursor;
  width: 90px;
  height: 30px;
  background-color: #96B6AD;
  float: right;
  margin: 0 5px;
  display: flex;
  justify-content: center;
}

.btn:hover {
  /* border: none; */
  background-color: #3D2B4C;
}

.btn a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.other-projects-row .card {
  background-image: url("http://www.onlygfx.com/wp-content/uploads/2018/03/orange-polygonal-background-fade-3.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-color: #F2E7C9; */
  margin-top: 2em;
}